{% if include.advisor %}
  <div class="people-grid">
    <div class="section-heading">
      <h3>advisor</h3>
      <p class="post-section-description">potato-in-chief</p>
    </div>

    {% for person in include.advisor %}
      <div class="person-card advisor">
        <a href="{{ person.website }}" class="card-link" target="_blank">
          {% if person.image %}
            {% assign image_path = person.image | prepend: '/assets/img/' | relative_url %}
            <img src="{{ image_path }}" alt="{{ person.name }}" class="person-image">
          {% endif %}
          <h3 class="person-name person-text">{{ person.name }}</h3>
          <p class="person-role person-text">{{ person.role }}</p>
          {% if person.description %}
            <p class="person-description person-text">{{ person.description }}</p>
          {% endif %}
        </a>
      </div>
    {% endfor %}
  </div>
{% endif %}

{% if include.students %}
  <div class="people-grid">
    <div class="section-heading">
      <h3>students</h3>
      <p class="post-section-description">potatoes in the baking</p>
    </div>

    {% for person in include.students %}
      <div class="person-card">
        <a href="{{ person.website }}" class="card-link" target="_blank">
          {% if person.image %}
            {% assign image_path = person.image | prepend: '/assets/img/' | relative_url %}
            <img src="{{ image_path }}" alt="{{ person.name }}" class="person-image">
          {% endif %}
          <h3 class="person-name person-text">{{ person.name }}</h3>
          {% if person.description %}
            <p class="person-description person-text">{{ person.description }}</p>
          {% endif %}
          <p class="person-role person-text">
            {{ person.role }}
            {% if person.years %}
              {{ person.years }}
            {% endif %}
          </p>
        </a>
      </div>
    {% endfor %}
  </div>
{% endif %}

{% if include.alumni %}
  <div class="people-grid">
    <div class="section-heading">
      <h3>alumni</h3>
      <p class="post-section-description">potatoes in the wild</p>
    </div>

    {% for person in include.alumni %}
      <div class="person-card">
        <a href="{{ person.website }}" class="card-link" target="_blank">
          {% if person.image %}
            {% assign image_path = person.image | prepend: '/assets/img/' | relative_url %}
            <img src="{{ image_path }}" alt="{{ person.name }}" class="person-image">
          {% endif %}
          <h3 class="person-name person-text">{{ person.name }}</h3>
          {% if person.description %}
            <p class="person-description person-text">{{ person.description }}</p>
          {% endif %}
          <p class="person-role person-text">
            {{ person.role }}
            {% if person.years %}
              {{ person.years }}
            {% endif %}
          </p>
        </a>
      </div>
    {% endfor %}
  </div>
{% endif %}
