{% assign lab_members = '' | split: '' %}
{% for member in site.data.people.advisor %}
  {% assign lab_members = lab_members | push: member.name %}
{% endfor %}
{% for member in site.data.people.students %}
  {% assign lab_members = lab_members | push: member.name %}
{% endfor %}
{% for member in site.data.people.alumni %}
  {% assign lab_members = lab_members | push: member.name %}
{% endfor %}

<div class="publications">
  {% assign awarded_publications = site.data.publications | where_exp: 'item', 'item.awards.size > 0' %}
  {% assign sorted_awarded_publications = awarded_publications | sort: 'year' | reverse %}

  {% assign counter = 0 %}
  {% for publication in sorted_awarded_publications %}
    {% if counter < 5 %}
      <div class="publication">
        <div class="publication-title">
          {{ publication.title }}
        </div>
        <div class="publication-authors">
          {% for author in publication.authors %}
            {% if lab_members contains author.name %}
              <strong class="lab-member">{{ author.name }}</strong>
              {%- unless forloop.last %},{% endunless %}
            {% elsif author.self %}
              <strong>{{ author.name }}</strong>
              {%- unless forloop.last %},{% endunless %}
            {% else %}
              {{ author.name -}}
              {%- unless forloop.last %},{% endunless %}
            {% endif %}
          {% endfor %}
        </div>
        <div class="publication-venue">
          {{ publication.venue }}
        </div>
        <div class="publication-awards">
          {% for award in publication.awards %}
            <span class="award"> 🏆 {{ award.body }}</span>
          {% endfor %}
        </div>
        <div class="publication-links">
          {% if publication.pdf %}
            <a href="{{ publication.pdf }}" target="_blank">PDF</a>
          {% endif %}
          {% if publication.video_url %}
            <a href="{{ publication.video_url }}" target="_blank">Video</a>
          {% endif %}
          {% if publication.slides %}
            <a href="{{ publication.slides }}" target="_blank">Slides</a>
          {% endif %}
        </div>
      </div>
      {% assign counter = counter | plus: 1 %}
    {% else %}
      {% break %}
    {% endif %}
  {% endfor %}
</div>
